attrs==17.4.0
base58==1.0.0
click==6.7
coverage==4.5.1
expiringdict==1.1.4
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.10
matplotlib==3.3.2
MarkupSafe==1.1
more-itertools==4.1.0
numpy>=1.6.0
pluggy==0.6.0
py==1.5.3
py-cpuinfo==4.0.0
pytest==3.5.0
pytest-benchmark==3.1.1
pytest-cov==2.5.1
scikit-learn==0.19.1
scipy==1.4.1
six==1.12.0
sklearn==0.0
tqdm==4.23.0
ujson==1.35
Werkzeug==0.14.1
gunicorn==20.1.0
boto3==1.17.50
tensorflow==2.3.0
tensorflow-estimator==2.3.0
pandas
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
h5py==2.10.0
